{% extends 'video/base.html' %}
{%  load staticfiles %}
{% block title_block %}
add youtube video
{% endblock %}
{% block body_block %}
    <h1>Add a youtube video</h1>
    <div>
        <form id="Youtube_Form" method="post" action="{% url 'add_youtube_video' user.id  %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="url">Yotube url: </label>
            <input id="upload" type="url" name="upload" value="{{ url }}">
            <input type="submit" name="submit" value="add video">
        </form>
    </div>
{% endblock %}